In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
au_labelings_path = "Data/all_au_labelings.csv"

In [9]:
df_au_labelings = pd.read_csv(au_labelings_path)

In [10]:
df_au_labelings

,Unnamed: 0,Subject_No,Frame_No,AU1,AU12,AU15,AU17,AU2,AU20,AU25,AU26,AU4,AU5,AU6,AU9
0,0,1.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,1.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,1.0,3.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,1.0,4.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,1.0,5.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130809,4840,32.0,4841.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,5.0,0.0,3.0,5.0
130810,4841,32.0,4842.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,5.0,0.0,3.0,5.0
130811,4842,32.0,4843.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,5.0,0.0,3.0,5.0
130812,4843,32.0,4844.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,5.0,0.0,3.0,5.0
130813,4844,32.0,4845.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,5.0,0.0,3.0,5.0

In [21]:
columns_to_convert = ['AU1', 'AU12', 'AU15', 'AU17', 'AU2', 'AU20', 'AU25', 'AU26', 'AU4', 'AU5', 'AU6', 'AU9']

df_au_labelings[columns_to_convert] = df_au_labelings[columns_to_convert].applymap(lambda x: 1 if x >= 1 else x)

In [22]:
# List of columns to sum
columns_to_sum = ['AU1', 'AU12', 'AU15', 'AU17', 'AU2', 'AU20', 'AU25', 'AU26', 'AU4', 'AU5', 'AU6', 'AU9']

# Sum each column Frame_No wise
sum_frame_wise = df_au_labelings.groupby('Frame_No')[columns_to_sum].sum().reset_index()

print(sum_frame_wise.shape)
# Display the result
print(sum_frame_wise.tail(10))

(4845, 13)
      Frame_No  AU1  AU12  AU15  AU17  AU2  AU20  AU25  AU26   AU4  AU5  AU6  \
4835    4836.0  5.0   4.0   4.0   3.0  4.0   1.0  16.0  10.0  12.0  0.0  6.0
4836    4837.0  5.0   4.0   4.0   3.0  4.0   1.0  16.0  11.0  12.0  0.0  6.0
4837    4838.0  6.0   4.0   4.0   3.0  5.0   1.0  16.0  11.0  12.0  0.0  6.0
4838    4839.0  6.0   4.0   4.0   3.0  5.0   1.0  16.0  12.0  12.0  0.0  6.0
4839    4840.0  6.0   3.0   4.0   3.0  5.0   1.0  16.0  12.0  12.0  0.0  6.0
4840    4841.0  6.0   3.0   4.0   3.0  5.0   1.0  16.0  12.0  12.0  0.0  6.0
4841    4842.0  5.0   3.0   4.0   3.0  5.0   1.0  16.0  12.0  12.0  0.0  6.0
4842    4843.0  5.0   3.0   4.0   3.0  5.0   1.0  16.0  12.0  12.0  0.0  6.0
4843    4844.0  5.0   2.0   4.0   3.0  5.0   1.0  16.0  12.0  12.0  0.0  6.0
4844    4845.0  5.0   2.0   4.0   3.0  5.0   1.0  16.0  12.0  11.0  0.0  6.0

      AU9
4835  9.0
4836  9.0
4837  9.0
4838  9.0
4839  9.0
4840  9.0
4841  9.0
4842  9.0
4843  9.0
4844  9.0

In [25]:
# Assuming sum_frame_wise is your DataFrame from the previous code
# If not, replace it with the actual DataFrame containing Frame_No wise sums

# List of columns to consider
columns_to_max = ['AU1', 'AU12', 'AU15', 'AU17', 'AU2', 'AU20', 'AU25', 'AU26', 'AU4', 'AU5', 'AU6', 'AU9']

# Calculate row-wise maximum value considering specified columns
sum_frame_wise['Row_Max'] = sum_frame_wise[columns_to_max].max(axis=1)

# Display the result
print(sum_frame_wise[['Frame_No', 'Row_Max']].tail())

      Frame_No  Row_Max
4840    4841.0     16.0
4841    4842.0     16.0
4842    4843.0     16.0
4843    4844.0     16.0
4844    4845.0     16.0

In [28]:
AU_consistency = np.array(sum_frame_wise[['Row_Max']])
np.savetxt("Data/AU_consistency.txt", AU_consistency)

In [30]:
np.argmin(AU_consistency)

3526

In [31]:
AU_consistency[3526]

array([3.])

In [32]:
AU_consistency[3741]

array([3.])